/* icon */
.icon {
  width: 30px;
  height: 30px;
}

/* header */

header .header-title {
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

/* menu-icon */
.menu {
  margin: auto;
  padding: 5px;
  text-align: left;
}

/* title */
.title {
  padding: 5px;
  margin: auto;
  text-align: center;
  flex: 2;
}

.title p {
  line-height: 25px;
  margin-bottom: 0;
}

/* search icon */
.search {
  display: flex;
  border-radius: 10px;
  margin: auto;
  padding: 2px;
  text-align: right;
}

.search:hover > .search-txt {
  width: 250px;
  padding: 0 6px;
}

.search:hover > .search-btn {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2px;
}

.search-txt {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: #000000;
  transition: 0.4s;
  width: 0px;
  float: left;
}

.search-btn {
  float: right;
  padding: 2px;
}
.search-btn .icon {
  width: 20px;
  height: 20px;
}

/* cart */
.cart {
  background: #ffffff;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 5px;
}

.cart p {
  padding-top: 4px;
  margin-bottom: 0;
}

/* navigation */
nav {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 50px;
  min-height: 800px;
  position: absolute;
  z-index: 1;
}
nav .navigation {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  padding: 20px 5px;
  transition-delay: 0.2s;
}

li:hover {
  background-color: #f3e8e8;
}

a {
  padding: 5px;
}

/* product item */
main.row {
  margin: 1px;
}

main .col-md-8 {
  margin-top: 20px;
  padding-left: 55px;
}

main .product-items {
  margin-left: 0;
  margin-right: 0;
  padding: 2px;
  height: 680px;
  overflow-y: scroll;
}

main .product-items .item {
  background-color: none;
  margin: 5px 0 10px 0;
  transition-delay: 0.2s;
}

.item img:hover {
  background-color: rgba(0, 0, 0, 0.6);
  filter: contrast(50%);
}

.active {
  background-color: rgba(0, 0, 0, 0.6);
  filter: contrast(50%);
}

.item-body {
  padding-left: 5px;
}

/* cart */
.cart-item {
  background: #ffffff;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  height: 800px;
}

.cart-img {
  margin-top: 20px;
  width: 60%;
}

.cart-body {
  margin-top: -50px;
}

.cart-body h2 {
  font-size: 25px;
  line-height: 39px;
  color: #000000;
}

span.text-muted {
  font-size: 20px;
  line-height: 26px;
}

/* modalAdd */
.modal-body form input {
  border: 1px solid #cecece;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.modal-body .price {
  width: 270px;
  border: 1px solid #cecece;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.modal-body form select {
  width: 200px;
  border: 1px solid #cecece;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn-add {
  width: 80px;
  border-radius: 100px;
  background-color: #57cad5;
  color: #ffffff;
}

.btn-cancel {
  width: 80px;
  border-radius: 100px;
  background-color: #f24f8a;
  color: #ffffff;
}

/* product select */
.item-order {
  margin: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.item-order img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

/* -- order-quantity -- */
.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #82de3a;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}

.price {
  padding-top: 50px;
}

/* checkout */
.checkout {
  padding: 0 20px;
  margin: 20px;
  float: inline-end;
}

.checkout .btn {
  margin: 5px 0;
}

.total {
  display: flex;
  justify-content: space-between;
}

.checkout .text-muted {
  font-size: small;
  margin: 5px 0;
}

.btn-checkout {
  width: 100%;
  background: #57cad5;
  color: #ffffff;
}

.btn-cancels {
  width: 100%;
  background: #f24f8a;
  color: #ffffff;
}

/* modalCheckout */
#modalCheckout .modal-header {
  border-bottom-width: none;
}

.modal-cashier {
  margin-top: -15px;
  padding: 0 16px;
}

.menu-item-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ppn-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#modalCheckout .modal-content .modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#modalCheckout .modal-footer p {
  margin: 10px 5px;
}

.btn-print {
  width: 100%;
  background: #f24f8a;
  color: #ffffff;
}

.btn-email {
  width: 100%;
  background: #57cad5;
  color: #ffffff;
}

/* history */
.card-history {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.income {
  margin: 5px 0;
  padding: 5px 25px;
  width: 375px;
  background: linear-gradient(
    285.38deg,
    #fbb2b4 30.05%,
    rgba(255, 143, 178, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
  border-radius: 10px;
  color: black;
}

.order {
  margin: 5px 0;
  padding: 5px 25px;
  width: 375px;
  background: linear-gradient(
    285.38deg,
    #29dfff 30.05%,
    rgba(41, 223, 255, 0) 133.19%
  );

  filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
  border-radius: 10px;
  color: black;
}

.total-income {
  margin: 5px 0;
  padding: 5px 25px;
  width: 375px;
  background: linear-gradient(
    285.38deg,
    #abb4c8 30.05%,
    rgba(241, 201, 236, 0) 133.19%
  );

  filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
  border-radius: 10px;
  color: black;
}

.card-history .card-body p {
  margin: 0;
}

main .chart {
  margin: 5px 50px;

  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

main .recent-order {
  margin: 5px 50px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.recent-order th {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.recent-order .text-muted {
  font-size: 13px;
}

/* responsive */

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  nav {
    min-height: min-content;
  }

  .cart-item {
    height: max-content;
  }
  #modalCheckout .modal-header {
    display: flex;
    flex-direction: column;
  }
  main .col-md-8 {
    padding-left: 28px;
  }
  .product-items {
    padding: 0;
  }

  nav {
    position: fixed;
    height: fit-content;
    top: 20%;
  }
  .cart-item {
    padding: 50px 5px;
  }

  main .revenue {
    left: -50px;
  }

  main .chart {
    width: 100%;
  }

  main .recent-order {
    margin-left: 0px;
    width: 100%;
  }

  .item-order {
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .search:hover > .search-txt {
    width: 100px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .cart-item .cart-body {
    margin-top: 2px;
  }

  .cart-body h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .cart-body span.text {
    font-size: 13px;
    line-height: 18px;
  }

  .card-history {
    flex-wrap: unset;
  }
  .income {
    width: 200px;
    height: 120px;
    padding: 0;
  }

  .order {
    width: 200px;
    height: 120px;
    padding: 0;
  }

  .total-income {
    width: 200px;
    height: 120px;
    padding: 0;
  }

  .item-order {
    padding: 2px;
    display: flex;
    flex-direction: column;
  }

  .item-order img {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  .price {
    padding-top: 1px;
  }

  .checkout {
    margin: 0;
    padding: 0;
  }
}
/* 
// Large devices (desktops, less than 1200px) */
@media (min-width: 1000px) and (max-width: 1199.98px) {
  main .product-items {
    height: 580px;
    overflow: scroll;
  }

  .income {
    width: 250px;
    padding: 0;
  }

  .order {
    width: 250px;
    padding: 0;
  }

  .total-income {
    width: 250px;
    padding: 0;
  }

  .item-order {
    margin: 15px 0;
    padding: 0px;
  }

  .quantity .input-text.qty {
    width: 30px;
    height: 30px;
  }

  .quantity.buttons_added .minus,
  .quantity.buttons_added .plus {
    padding: 0 8px;
    height: 30px;
    height: 30px;
  }

  .checkout {
    margin: 10px 0;
    padding: 0;
  }
}
